* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}

/* -------------Nav-Section------------ */
ul {
    list-style: none;
    display: flex;
}

.nav-bg {
    background-color: #D2D4D5;
}

li {
    padding: 10px 16px;
}

li:hover {
    cursor: pointer;
}

.nav-inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 0px;
    /* border: 2px solid black; */
}

.nav-inner1 {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 106px;
    width: 100%;
    cursor: pointer;
}

.list-items {
    display: flex;
    max-width: 630px;
    align-items: center;
    font-size: 24px;
    overflow: hidden;
}

.icons {
    max-width: 220px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    max-width: 50px;
    width: 100%;
    margin-top: 15px;
    font-size: 30px;
}

.icon1,
.icon2,
.icon3 {
    width: 60px;
    height: 60px;
    background-color: #A7731A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

/* ----------------Hero-Section------------------ */
.hero-section-container {
    background-repeat: no-repeat;
    background-image: url("/images/hero-bg-img.svg");
    height: 1080px;
    position: relative;
    object-position: center;
    object-fit: cover;
}

.hero-section-img1 {
    max-width: 324px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
}

.hero-section-img2 {
    max-width: 324px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 500px;
}

.hero-content-button {
    width: 167px;
    padding-top: 100px;
}

button {
    padding: 20px 32px;
    border-radius: 50px;
    border: none;
    background-color: #A7731A;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.hero-content-section {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px 0px;
}

.hero-heading {
    max-width: 743px;
    font-size: 100px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 90px;
}

.hero-paragraph {
    max-width: 646px;
    width: 100%;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    font-weight: 400px;
    line-height: 1.5;
}

/* -------------------Product--------------------- */
.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: yellowgreen; */
    gap: 30px;
}

.product-para {
    max-width: 332px;
    width: 100%;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-top: 90px;
}

.product-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para-box1 {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.para-box1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.product-img-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
}

.biscuits-img {
    max-width: 164px;
    width: 100%;
}

.product-img-para1 {
    max-width: 77px;
    width: 100%;
    font-size: 20px;
    font-style: medium;
    font-family: 'Poppins', sans-serif;
}

.para-box2 {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.para-box2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.bread-img {
    max-width: 131px;
    width: 100%;
}

.product-img-text2 {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    align-items: center;
}

.product-img-para2 {
    max-width: 71px;
    width: 100%;
    font-size: 20px;
    font-style: medium;
    font-family: 'Poppins', sans-serif;
}

.para-box3 {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.para-box3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.product-img-text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
}

.cake-img {
    max-width: 106px;
    width: 100%;
}

.product-img-para3 {
    max-width: 64px;
    width: 100%;
    font-size: 20px;
    font-style: medium;
    font-family: 'Poppins', sans-serif;
}

.para-box4 {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.para-box4:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.product-img-text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
}

.sweets-img {
    max-width: 195px;
    width: 100%;
}

.product-img-para4 {
    max-width: 72px;
    width: 100%;
    font-size: 20px;
    font-style: medium;
    font-family: 'Poppins', sans-serif;
}

.para-box5 {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.para-box5:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.product-img-text5 {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    align-items: center;
}

.pasteries-img {
    max-width: 124px;
    width: 100%;
}

.product-img-para5 {
    max-width: 92px;
    width: 100%;
    font-size: 20px;
    font-style: medium;
    font-family: 'Poppins', sans-serif;
}

/* --------------------About-Us---------------------- */
.aboutus-heading {
    max-width: 244px;
    width: 100%;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
}

.aboutus-para {

    font-size: 24px;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

.aboutus-button {
    max-width: 147px;
    width: 100%;
    padding-top: 45px;
}

.aboutus-box {
    display: flex;
    max-width: 1920px;
}

.aboutus-img {
   padding-top: 200px;
   padding-left: 70px;
    width: 45%;
}

.aboutus-content {
    width: 50%;
}

/* -----------------------Our-Selling--------------------------------- */
.selling-para {
    max-width: 600px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    display: flex;
}

.selling-container {
    max-width: 390px;
    width: 100%;
    display: flex;
}

.selling-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-text1 {
    font-size: 30px;
    color: #A7731A;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.selling-product-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.star-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-section-container {
    display: flex;
    flex-direction: column;
}

.selling-box {
    display: flex;
    gap: 20px;
    max-width: 1920px;
    width: 100%;
    padding-bottom: 150px;
}

.selling-all-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    max-width: 390px;
    width: 100%;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selling-all-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------- */
.selling-text-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-text2 {
    font-size: 30px;
    color: #A7731A;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.selling-product-name1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name1 {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.star-img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-box1 {
    display: flex;
}

.selling-all-box1 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 40px;
    max-width: 390px;
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selling-all-box1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------- */
.selling-text-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-text3 {
    font-size: 30px;
    color: #A7731A;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.selling-product-name2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name2 {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.star-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selling-all-box2 {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selling-all-box2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------- */
.selling-text-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-text4 {
    font-size: 30px;
    color: #A7731A;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.selling-product-name3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name3 {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.star-img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selling-all-box3 {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selling-all-box3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
/* ----------------------------Menu--------------------------------- */
.menu-para {
    max-width: 280px;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 200px;
}
.our-menu-allboxes-container{
    display: flex;
    max-width: 1920px;
    width: 100%;
    gap: 24px;
}
.our-menu-container{
    max-width: 390px;
}
.menu-product-name-box1{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box1{
    padding-top: 20px;
}
.menu-product-name1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price1{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box1{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ------------------------- */
.our-menu-container1{
    max-width: 390px;
}
.menu-product-name-box2{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container1{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box2{
    padding-top: 20px;
}
.menu-product-name2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price2{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box2{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container1{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button1{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* --------------------- */
.our-menu-container2{
    max-width: 390px;
}
.menu-product-name-box3{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container2{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box3{
    padding-top: 20px;
}
.menu-product-name3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price3{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box3{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container2{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button2{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ---------------------------- */
.our-menu-container3{
    max-width: 390px;
}
.menu-product-name-box4{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container3{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box4{
    padding-top: 20px;
}
.menu-product-name4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price4{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box4{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container3{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button3{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ---------------------------- */
.our-menu-allboxes-container2{
    display: flex;
    padding-top: 50px;
    max-width: 1920px;
    width: 100%;
    gap: 24px;
    padding-bottom: 227px;
}
.our-menu-container4{
    max-width: 390px;
}
.menu-product-name-box5{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container4{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box5{
    padding-top: 20px;
}
.menu-product-name5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price5{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box5{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container4{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button4{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ----------------------- */
.our-menu-container5{
    max-width: 390px;
}
.menu-product-name-box6{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container5{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box6{
    padding-top: 20px;
}
.menu-product-name6{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price6{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box6{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container5{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button5{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* --------------------------- */
.our-menu-container6{
    max-width: 390px;
}
.menu-product-name-box7{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container6{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box7{
    padding-top: 20px;
}
.menu-product-name7{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price7{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box7{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container6{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button6{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ------------------------------ */
.our-menu-container7{
    max-width: 390px;
}
.menu-product-name-box8{
    display: flex;
    justify-content: space-between;
}
.our-menu-content-container7{
    max-width: 350px;
    padding-left: 20px;
}
.menu-product-name-box8{
    padding-top: 20px;
}
.menu-product-name8{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-product-price8{
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #A7731A;
}
.five-star-rating-box8{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.our-menu-buttons-container7{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}
.favorite-button7{
    border: 2px solid #A7731A;
    color: #A7731A;
    background-color: white;
}
/* ------------------------Testimonials--------------------------- */
.test-para {
    max-width: 206px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ACAAAA;
}

.test-para1 {
    max-width: 571px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}

.testimonial-clinet-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.testimonial-text {
    max-width: 460px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding-top: 30px;
}

.client-name {
    max-width: 97px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #A7731A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-box {
    background-color: #F7F7F7;
    max-width: 520px;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.client-img {
    width: 110px;
    height: 110px;
    padding-top: 20px;
}

.client-rating {
    padding-top: 50px;
}

.clients-comments {
    display: flex;
    gap: 20px;
}

/* --------------------------------------------- */
.testimonial-clinet-img1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.testimonial-text1 {
    max-width: 460px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding-top: 30px;
}

.client-name1 {
    max-width: 97px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #A7731A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-box1 {
    background-color: #F7F7F7;
    max-width: 520px;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.client-img1 {
    width: 110px;
    height: 110px;

    padding-top: 20px;
}

.client-rating1 {
    padding-top: 50px;
}

/* ------------------------------------------------- */
.testimonial-clinet-img2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.testimonial-text2 {
    max-width: 460px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding-top: 30px;
}

.client-name2 {
    max-width: 97px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #A7731A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-box2 {
    background-color: #F7F7F7;
    max-width: 520px;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.client-img2 {
    width: 110px;
    height: 110px;
    padding-top: 20px;
}

.client-rating2 {
    padding-top: 50px;
}

/* -------------------Reservation-box------------------------ */
.book-reservation {
    max-width: 508px;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.book-reservation-text {
    max-width: 778px;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}

.reservation-div {
    max-width: 1625px;
    width: 100%;
    display: flex;
    padding-top: 65px;
}

.reservation-main-box {
    max-width: 1920px;
    width: 100%;
    display: flex;
    border-radius: 70px;
    background-color: #F7F7F7;
    position: relative;
    height: 727px;
}

.reservation-img1 {
    max-width: 189px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 15px;
    margin-right: 15px;
}

.reservation-box {
    max-width: 1285px;
    width: 100%;
    margin: auto;
    margin-top: 103px;
}

.box-heading {
    max-width: 242px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #A7731A;
}

.form-box1 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box1 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box1 i {
    max-width: 18px;
    width: 100%;
    height: 16px;
    font-size: 18px;
}

/* ---------------------------------------------- */
.form-box2 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box2 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box2 i {
    max-width: 19px;
    width: 100%;
    height: 16px;
    font-size: 19px;
}

.form-all-boxes {
    display: flex;
    gap: 50px;
}

/* --------------------------------------------- */
.form-box3 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box3 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box3 i {
    max-width: 16px;
    width: 100%;
    height: 16px;
    font-size: 18px;
}

/* --------------------------------------------- */
.form-all-boxes1 {
    display: flex;
    gap: 50px;
}

.form-box4 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box4 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box4 i {
    max-width: 16px;
    width: 100%;
    height: 16px;
    font-size: 18px;
}

/* ---------------------------------------------- */
.form-box5 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box5 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box5 i {
    max-width: 18px;
    width: 100%;
    height: 16px;
    font-size: 18px;
}

/* -------------------------------------- */
.form-box6 {
    max-width: 395px;
    width: 100%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box6 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.form-box6 i {
    max-width: 20px;
    width: 100%;
    height: 16px;
    font-size: 18px;
}

/* ------------------------------------ */
.form-box7 {
    max-width: 1285px;
    width: 100%;
    border-radius: 73px;
    background-color: #FFFFFF;
    height: 115px;
    padding-left: 20px;
    padding-top: 20px;
    border: none;
    outline: none;
    margin-top: 60px;
    color: #0000004D;
    font-size: 16px;
}

.form-box7 input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    gap: 1px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.form-box7 i {
    max-width: 17px;
    width: 100%;
    height: 16px;
    font-size: 17px;
}

/* -------------------------- */
.reservation-button {
    max-width: 189px;
    width: 100%;
    border-radius: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 55px;
    margin-right: 170px;
    transition: color 0.3s ease;
}

.reservation-button:hover {
    color: #7A5413;
}

.reservation-img2 {
    max-width: 189px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 15px;
    margin-left: 15px;
}

/* -----------------------Footer--------------------------- */
.footer-bg {
    background-color: #A7731A;
}

.footer-box1 {
    max-width: 424px;
    width: 100%;
    padding-top: 100px;
}

.footer-para {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    line-height: 2.5;
    color: #FFFFFF;
}

.footer-main-box {
    display: flex;
    gap: 150px;
}

.footer-icons-box1 {
    display: flex;
    max-width: 236px;
    width: 100%;
    gap: 30px;
}

.footer-icon1,
.footer-icon2,
.footer-icon3,
.footer-icon4 {
    max-width: 44px;
    width: 100%;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    cursor: pointer;
}

/* -------------------------------------- */
.footer-box2 {
    max-width: 150px;
    width: 100%;
    margin-top: 121px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer-icon-box-para1 {
    max-width: 83px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-list-items1 {
    max-width: 107px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

/* ----------------------------------- */
.footer-icon-box-para2 {
    max-width: 183px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-list-items2 {
    max-width: 220px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-box3 {
    max-width: 210px;
    width: 100%;
    margin-top: 121px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/* ----------------------------------------- */
.footer-box4 {
    max-width: 490px;
    width: 100%;
    margin-top: 121px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.footer-icon-box-para3 {
    max-width: 183px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-icons1 {
    display: flex;
    max-width: 154px;
    width: 100%;
    gap: 10px;
    margin-right: 30px;
}

.footer-icons1 i {
    max-width: 26px;
    font-size: 26px;
    width: 100%;
    padding-top: 7px;
}

.footer-icons-para {
    max-width: 118px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-icons-para1 {
    max-width: 380px;
    width: 100%;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-left: 80px;
}

.footer-icons2 {
    display: flex;
    max-width: 154px;
    width: 100%;
    gap: 10px;
    margin-right: 30px;
}

.footer-icons-para2 {
    max-width: 118px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-icons2 i {
    max-width: 26px;
    font-size: 26px;
    width: 100%;
    padding-top: 7px;
}

.footer-icons-para3 {
    max-width: 380px;
    width: 100%;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-left: 80px
}

.footer-icons3 {
    display: flex;
    max-width: 154px;
    width: 100%;
    gap: 10px;
    margin-right: 30px;
}

.footer-icons3 i {
    max-width: 26px;
    font-size: 26px;
    width: 100%;
    padding-top: 7px;
}

.footer-icons-para4 {
    max-width: 118px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-icons-para5 {
    max-width: 380px;
    width: 100%;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-left: 80px
}

/* --------------------------------------- */
.copy-right {
    background-color: #D99E39;
    padding: 30px 0px;
}

.copy-right-para {
    max-width: 153px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

/* ---------------------------Responsive for small screen-------------- */
@media only screen and (min-width:320px) and (max-width:639px) {
    .list-items {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
        margin-left: 15px;
        width: 100px;
    }

    .icons {
        display: none;
    }

    .hero-section-img1,
    .hero-section-img2 {
        display: none;
    }

    .hero-content-button {
        padding-top: 50px;
    }

    .hero-heading {
        width: 100%;
        font-size: 35px;
        padding-top: 0px;
    }

    .hero-content-section {
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 10px;
    }

    .hero-paragraph {
        padding-top: 0px;
        font-size: 19px;
        max-width: 320px;
        margin-top: 20px;
    }

    .hero-section-container {
        background-size: cover;
        background-position: center top;
        max-width: 639px;
        object-fit: cover;
        height: 100%;
    }

    .hero-content-button {
        max-width: 150px;
    }

    .hero-content-button button {
        padding: 15px 20px;
        font-size: 16px;
    }

    /* ------------------Product------------------ */
    .product-container {
        display: grid;
        grid-template-columns: auto;
    }

    .product-para {
        font-size: 45px;
        padding-top: 40px;
    }

    /* ---------------------------About-us------ */
    .aboutus-box {
        display: flex;
        flex-direction: column;
    }
    .aboutus-img {
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        display: none;
    }

    .aboutus-content {
        width: 100%;
    }
    .aboutus-heading{
        padding-top: 100px;
    }
    .aboutus-para{
        padding-top: 40px;
    }
    /* ---------------ourselling------------- */
    .selling-para{
        padding-top: 20px;
        padding-bottom: 10px;
    }
     .selling-box{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .selling-all-box, .selling-all-box1, .selling-all-box2, .selling-all-box3{
        max-width: 368px;  
        overflow: hidden;
    }
    /* --------------------Menu--------------- */
    .our-menu-allboxes-container{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .our-menu-allboxes-container2{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    /* -----------------testimonial---------- */
    .clients-comments{
        display: grid;
        grid-template-columns: auto;
    }
    .test-para{
        padding-top: 20px;
        font-size: 18px;
    }
    .test-para1{
        font-size: 45px;
        padding-top: 10px;
    }
    /* ----------------reservation--------- */
      .reservation-main-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

    .form{
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }
    .form-all-boxes,.form-all-boxes1 {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 0px;
    }
    .form-box1, .form-box2, .form-box3,.form-box4, .form-box5, .form-box6, .form-box7{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .form-box7 {
        display: flex;
        align-items: center;
        margin-bottom: 5px; 
        width: 100%;
        max-width: 430px;
        height: 80px;
        margin-bottom: 50px;
        margin-left: 10px;
    }
    .form-box1 input, .form-box2 input, .form-box3 input, .form-box4 input, .form-box5 input, .form-box6 input, .form-box7 input{
        max-width: 320px;
        width: 100%;
    }
    .reservation-img1,.reservation-img2 {
        display: none; 
    }
    .reservation-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: none;
        background-color: #A7731A;
        color: #fff;
        cursor: pointer;
        display: none;
    }
     input[type="text"],
     input[type="email"],
     input[type="tel"],
     input[type="date"],
     input[type="time"],
     input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .box-heading{
        padding-left: 40px;
        font-size: 20px;
    }
    /* -----------------------Footer-------- */
    .footer-main-box{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .footer-box4{
        padding-right: 20px;
    }
}
@media only screen and (min-width:640px) and (max-width:767px) {
    .list-items {
        display: none;
    }

    .hero-section-img1,
    .hero-section-img2 {
        display: none;
    }

    .hero-heading {
        padding: 40px 0px 0px;
        font-size: 50px;
    }

    .hero-paragraph {
        max-width: 330px;
        font-size: 20px;
    }

    .hero-content-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .hero-section-container {
        background-size: cover;
        background-position: center top;
        max-width: 767px;
        object-fit: cover;
        height: 100%;
    }

    .hero-content-button {
        padding-top: 50px;
    }

    .hamburger-icon {
        display: inline-block;
        margin-left: 15px;
        width: 100px;
    }

    .icons {
        display: none;
    }

    /* ----------------------------Products------ */
    .product-container {
        display: grid;
        grid-template-columns: auto ;
        gap: 20px; 
    }
    .para-box1, .para-box2, .para-box3, .para-box4, .para-box5{
        width: 100%;
    }
    /* --------------------aboutus------- */
     .aboutus-img {
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        display: none;
    }
    .aboutus-content{
        width: 100%;
    }
    .aboutus-heading{
        padding-top: 100px;
    }
    .aboutus-para{
       padding-top: 40px;

    }
    /* -------------ourSelling------- */
    .selling-para{
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 42px;
    }
    .selling-box{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-content: center;
    }
    .selling-all-box, .selling-all-box1, .selling-all-box2, .selling-all-box3{
        max-width: 550px;  
        overflow: hidden;
    }
    /* ------------Menu--------- */
    .our-menu-allboxes-container{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .our-menu-allboxes-container2{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    /* ----------------testimonials------ */
    .clients-comments{
        display: grid;
        grid-template-columns: auto ;
    }
    .test-para{
        padding-top: 20px;
    }
    .test-para1{
        font-size: 45px;
        padding-top: 10px;
    }
    /* -----------------reservation-box---- */
      .reservation-main-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        padding: 20px 20px;
        max-width: 586px;
    }
    .book-reservation-text{
        font-size: 20px;
    }
    .form{
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }
    .form-all-boxes,.form-all-boxes1 {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 0px;
    }
    .form-box1, .form-box2, .form-box3,.form-box4, .form-box5, .form-box6, .form-box7{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .form-box7 {
        display: flex;
        align-items: center; 
        width: 100%;
        max-width: 530px;
        height: 80px;
        margin-bottom: 50px;
        margin-left: 10px;
    }
    .form-box1 input, .form-box2 input, .form-box3 input, .form-box4 input, .form-box5 input, .form-box6 input, .form-box7 input{
        max-width: 320px;
        width: 100%;
    }
    .reservation-img1,.reservation-img2 {
        display: none; 
    }
    .reservation-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: none;
        background-color: #A7731A;
        color: #fff;
        cursor: pointer;
        display: none;
    }
     input[type="text"],
     input[type="email"],
     input[type="tel"],
     input[type="date"],
     input[type="time"],
     input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .box-heading{
        padding-left: 40px;
        font-size: 20px;
    }
    /* -------------Footer----------- */
    .footer-main-box{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .list-items {
        display: none;
    }

    .hero-section-img1,
    .hero-section-img2 {
        display: none;
    }

    .hero-section-container {
        background-size: cover;
        background-position: center top;
        max-width: 1023px;
        object-fit: cover;
        height: 100%;
    }

    .hero-heading {
        padding: 40px 0px 0px;
        font-size: 70px;
        max-width: 600px;
    }

    .hero-paragraph {
        max-width: 500px;
        font-size: 25px;
    }

    .hero-content-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .hero-content-button {
        padding-top: 50px;
    }

    .hamburger-icon {
        display: inline-block;
        margin-left: 15px;
        width: 100px;
    }

    .icons {
        display: none;
    }

    /* ------------------------Products-------------------- */
    .product-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .product-para {
        padding-top: 50px;
    }
    /* -------------------aboutus------------- */
    .aboutus-img {
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        display: none;
    }
    .aboutus-content{
        width: 100%;
    }
    .aboutus-heading{
        padding-top: 100px;
    }
    .aboutus-para{
        padding-top: 40px;
    }
    /* ----------------Ourselling------- */
    .selling-para{
        padding-top: 30px;
        padding-bottom: 20px;
        
    }
    .selling-box{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        justify-content: center;
    }
    .selling-all-box, .selling-all-box1, .selling-all-box2, .selling-all-box3{
        max-width: 550px; 
        overflow: hidden;   
    }
    /* -----------------Menu----------- */
    .our-menu-allboxes-container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .our-menu-allboxes-container2{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    /* ------------testimonials----- */
    .clients-comments{
        display: grid;
        grid-template-columns: auto auto;
    }
    .test-para{
        padding-top: 30px;
    }
    .test-para1{
        font-size: 45px;
        padding-top: 10px;
    }
    /* -------------reservation------ */
       .reservation-main-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        padding: 20px 20px;
        max-width: 586px;
    }
    .book-reservation-text{
        font-size: 20px;
    }
    .form{
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }
    .form-all-boxes,.form-all-boxes1 {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 0px;
    }
    .form-box1, .form-box2, .form-box3,.form-box4, .form-box5, .form-box6, .form-box7{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .form-box7 {
        display: flex;
        align-items: center; 
        width: 100%;
        max-width: 530px;
        height: 80px;
        margin-bottom: 50px;
        margin-left: 10px;
    }
    .form-box1 input, .form-box2 input, .form-box3 input, .form-box4 input, .form-box5 input, .form-box6 input, .form-box7 input{
        max-width: 320px;
        width: 100%;
    }
    .reservation-img1,.reservation-img2 {
        display: none; 
    }
    .reservation-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: none;
        background-color: #A7731A;
        color: #fff;
        cursor: pointer;
        display: none;
    }
     input[type="text"],
     input[type="email"],
     input[type="tel"],
     input[type="date"],
     input[type="time"],
     input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .box-heading{
        padding-left: 40px;
        font-size: 20px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1279px) {
    .icons {
        width: 220px;
    }

    .list-items {
        margin-right: 80px;
    }

    .icon1,.icon2,.icon3 {
        width: 50px;
        height: 50px;
    }
    .hero-section-container {
        background-size: cover;
        background-position: center top;
        max-width: 1920px;
        object-fit: cover;
        height: 100%;
} 
    .hero-heading{
        padding-top: 40px;
}
/* ---------------------aboutus------ */
    .aboutus-box{
        display: grid;
        grid-template-columns: auto;
}
    .aboutus-content{
        width: 100%;
}
    .aboutus-heading{
        padding-top: 100px;
}
.aboutus-img{
        padding-top: 80px;
        max-width: 1240px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
}
/* ----------------ourselling--------- */
.selling-box{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0px;
        justify-content: center;
    }
     .selling-all-box, .selling-all-box1, .selling-all-box2, .selling-all-box3{
        max-width: 550px; 
        overflow: hidden;   
    }
    /* --------------Menu---------- */
    .our-menu-allboxes-container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .our-menu-allboxes-container2{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    /* ------------------testimonials---------- */
      .clients-comments{
        display: grid;
        grid-template-columns: auto auto;
    }
    .test-para{
        padding-top: 30px;
    }
    .test-para1{
        font-size: 45px;
        padding-top: 10px;
    }
}


    @media only screen and (min-width:1280px) and (max-width:1529px) {
    .hero-section-img2 {
        max-width: 324px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-top: 0px;
        margin-left: 300px;
}
/* -------------about-us----------- */
/* .aboutus-img{
    padding-right: 250px;
} */
/* ----------------product--------- */
      .product-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px; 
    }
    /* ---------------------selling--------- */
    .selling-box{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    /* ------------Menu---------- */
    .our-menu-allboxes-container{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .our-menu-allboxes-container2{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}
@media only screen and (min-width:1530px) and (max-width:1920px) {
    .selling-box{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }
    .selling-all-box{
        max-width: 650px; 
        overflow: hidden; 
    }
    .selling-para{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .aboutus-box{
        display: flex;
        gap: 30px;
    }
}